@import "tailwindcss";
 @plugin "daisyui" {
   themes: light --default;
 }

html {
  color-scheme: light;
  background-color: white;
  color: black;
}
.btn {
  border: 0px!important;
}
input::placeholder {
  color: black;
}